@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  --primary: black;
  --secondary: gold;
  --white: #fbfbfb;
  --dark: #2e2532;
  --black: #201a23;
  font-family: 'Archivo Black', sans-serif;
  margin: 0;
  padding: 0;
}

.product-card figure {
  text-align: center;
}

.promo-banner-container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 40px 0;
}
.promo-banner {
  padding: 40px;
  background-image: url("https://images.moneycontrol.com/static-mcnews/2022/09/Mutual-Funds_Sensex_personal-finance.png?impolicy=website&width=770&height=431");
  background-size: cover;
  background-position: 100% 5%;
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  border-radius: 8px;
  text-align: center;
}
.promo-banner h2{
  color: white;
  font-family: 'Archivo Black', sans-serif;
  font-size: x-large;
  margin: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  padding: 8px;
}
.promo-banner-img-left{
  background-image: url("https://res.cloudinary.com/dxctpvd8v/image/upload/v1674720310/StickyMarket/ThisWeekOnly_cbqgto.svg");
  width: 192px;
  height: 192px;
  background-size: contain;
  background-repeat: no-repeat;;
  margin: 8px;
}
.promo-banner-img-right{
  background-image: url("https://res.cloudinary.com/dxctpvd8v/image/upload/v1674717490/StickyMarket/StickyMarket_LogoMark_z2ndtd.png");
  width: 192px;
  height: 192px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 8px;
}

.columns.products {
  flex-wrap: wrap;
}

.card-footer-item i {
  margin-right: 10px;
}

.navbar-top.navbar {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 700px){
  .navbar-top.navbar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  } 
  .navbar-top.navbar ul{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}


.logo-white{
  background-image: url('../images/StickyMarket-White.svg');
  width: 300px;
  height: 50px;
  background-repeat: no-repeat;
  margin: 16px;
}

.navbar-selection{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin: 8px 16px;
  color: var(--white);
  font-family: 'Archivo Black', sans-serif;
}
.navbar-selection a {
  text-decoration: none;
  color: inherit; 
  cursor: pointer;
}


#cart h3 {
  margin-top: 50px;
}

#cart .cart-item {
  margin-bottom: 10px;
  padding: 20px;
}

.product-card .card-footer {
  justify-content: center;
}
.product-card .card-footer form {
  display: block;
  width: 100%;
}

.admin > div.container {
  margin: 40px 10%;
}

.admin .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin table {
  width: 100%;
}

.admin table th:first-of-type {
  width: 20%;
}
.admin table td:first-of-type {
  width: 20%;
}

.admin table td {
  vertical-align: middle;
}

.product-card .card-footer button {
  border: none;
  width: 100%;
  height: 50px;
}

.product-card .card-footer button i {
  margin-right: 10px;
}

#cart .cart-item h3 {
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  position: relative;
}

.quantity:before {
  content: '#';
  position: absolute;
  z-index: 10;
  top: 0;
  right: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  color: gray;
}

.cart-right .field {
  margin-bottom: 0 !important;
}

.price {
  margin: 0 20px;
}

.cart-right {
  display: flex;
  align-items: center;
}



.column a {
  color: black;
  text-decoration: none;
}
.title {
  margin: 8px 0px;
}

.signIn{
  border-radius: 8px;
  margin: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.signInImg{
  background-image: url("https://res.cloudinary.com/dxctpvd8v/image/upload/v1674617842/StickyMarket/stickersonlaptop_qvnpsi.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin: 16px;
}

.footer-main{
  font-family: 'Archivo Black', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.footer-main a{
  text-decoration: none;
  color: inherit;
}
.footer-links{
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.footer-links li{
  margin: 8px;
}
@media screen and (min-width: 700px) {
  .footer-links{
    flex-direction: row;
  }
}

.banner-main{
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px; 
  font-family: 'Archivo Black', sans-serif;
}
.banner-left{
  max-width: 600px;
  row-gap: 16px; 
}
.banner-left h4{
  color: goldenrod;
  font-size: medium;
}
.banner-left h1{
  color: black;
  font-size: xx-large;
}
.banner-left h5{
  color: black;
  font-size: small;
  font-weight: 200;
}
.banner-left-buttons{
  margin: 16px 0px;
}
.banner-left-buttons button:first-of-type{
  background-color: black;
  color: white; 
  height: 50px;
  width: 100px;
  border-radius: 40px;
  border: none;
  text-align: center;
  margin: auto;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
.banner-left-buttons button:first-of-type:hover{
  background-color: goldenrod;
}
.banner-left-buttons button:nth-last-of-type(1){
  background-color: goldenrod;
  color: white; 
  height: 50px;
  width: 100px;
  border-radius: 40px;
  border: none;
  text-align: center;
  margin: auto;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
.banner-left-buttons button:nth-last-of-type(1):hover{
  background-color: black;
}

.banner-right-img{
  background-image: url("https://res.cloudinary.com/dxctpvd8v/image/upload/v1674540813/StickyMarket/StickyMarket_sylelb.webp");
  width: 270px;
  height: 270px;
  background-size: cover;
  border-radius: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.remove{
  margin: 0 8px;
}
.cartTitle{
  font-family:'Archivo Black', sans-serif; 
  font-size: xx-large;
}
.itemTitle{
  font-family:'Archivo Black', sans-serif; 
  font-size: medium;
}
.priceQty{
  font-family:'Archivo Black', sans-serif; 
  font-size: medium;
  min-width: 10ch;
}
.itemSubTotal{
  font-family:'Archivo Black', sans-serif; 
  font-size: medium;
  margin-right: 8px;
}


.total{
  background-color: black;
  color: goldenrod;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  font-family:'Archivo Black', sans-serif; 
  font-size: xx-large;
}
.buy-btn-container{
  background-color: goldenrod;
  padding: 16px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-end;
  align-content: flex-end;
  gap: 8px; 
  margin-bottom: 160px;
}
.buy-btn-container button:first-of-type{
  background-color: black;
  color: white; 
  height: 60px;
  width: 120px;
  border-radius: 40px;
  border: none;
  text-align: center;
  margin: auto;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-btn-container button:last-of-type{
  background-color: black;
  color: white; 
  height: 60px;
  width: 120px;
  border-radius: 40px;
  border: none;
  text-align: center;
  margin: auto;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-admin{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 160px; 
  color: white; 
  font-family: 'Archivo Black', sans-serif;
  font-size: x-large;
}
.nav-admin-selection{
  gap: 8px;
  row-gap: 8px;
  font-size: medium;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navAdmProductsBtn{
  background-color: goldenrod;
  width: 90px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.navAdmProductsBtn:hover{
  background-color: white;
  color: black; 
}
.navAdmSignoutBtn{
  background-color: white;
  color: black;
  width: 90px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.navAdmSignoutBtn:hover{
  background-color: goldenrod;
  color: white; 
}

.column form{
  font-family: 'Archivo Black', sans-serif;
}

.signOutPageOptions a button:first-child:hover{
  background-color: firebrick;
}
.signOutPageOptions a button:nth-child(2) {
  background-color: firebrick;
}


